.header-section {
    background: transparent;
    z-index: 999;
    width: 100%;
    position: absolute;
}

.tab-header-top-right a {
    transition: all 0.3s ease;
}

.tab-header-top-right a:hover {
    transform: translateY(-4px);
}

.menu-item-has-children>a:before {
    transition: all .3s ease;
}

.menu-list-item-of-children {
    visibility: hidden;
    opacity: 0;
    padding: 0;
    top: 100%;
    left: 0;
    transform: translateY(35px);
    z-index: -1;
    transition: all 0.5s ease-in-out;
    background: #fff;
    box-shadow: 0 0 10px rgba(16, 17, 21, .1);
    width: 220px;
}

.menu-item-of-children {
    padding: 10px 20px;
    border-bottom: 1px solid #ecf0f3;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
}

.menu-item-has-children:hover>a::before {
    opacity: 0;
    -webkit-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}

.menu-item-has-children:hover>ul {
    visibility: visible;
    opacity: 1;
    z-index: 10;
    transform: translateY(20px);
}

.banner-section {
    background-image: url('/assets/image/banner.jpg');
    background-size: cover;
    position: relative;
    width: 100%;
}

.banner-section .all-shapes {
    -webkit-animation: rotate 110s linear infinite;
    animation: rotate 110s linear infinite;
    border: 1.75px dashed #ff70d2;
    border-radius: 100%;
    /* display: none; */
    height: 700px;
    right: 0;
    top: 25%;
    width: 700px;
    /* content: ""; */
    position: absolute;
}

.banner-section .all-shapes::before {
    -webkit-animation: rotate-rev 110s linear infinite;
    animation: rotate-rev 110s linear infinite;
    border: 1px dashed #8b74ff;
    border-width: 1.8px !important;
    height: 85%;
    width: 85%;
    content: "";
    position: absolute;
}

.banner-section .all-shapes:after,
.banner-section .all-shapes:before {
    border-radius: 100%;
}

.banner-section .all-shapes::after,
.banner-section .all-shapes::before {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.banner-section .all-shapes::after {
    border: 1px dashed #fdca92;
    border-width: 1.5px !important;
    height: 70%;
    width: 70%;
    content: "";
    position: absolute;
}

.banner-section .subtitle {
    color: #f16126;
    font-size: 18px;
    letter-spacing: 5px;
}

.banner-section .title {
    font-size: 66px;
    line-height: 1.1;

}


.banner-section form {
    background: #fff;
    box-shadow: 0 5px 10px rgba(16, 17, 21, .1);
    justify-content: space-between;
}

.banner-section form .banner-icon {
    font-weight: 700;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
}

.banner-section form input {
    border: none;
    padding: 18px 18px 18px 40px;
    width: calc(100% - 132px);
}

.banner-section form button {
    border: none;
    outline: none;
    padding: 13px 15px;
    transition: all .3s ease;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.header-bar span {
    height: 3px;
    left: 0;
    transition: all .3s ease;
    background: #f16126;
    display: inline-block;
    content: "";
    position: absolute;
    cursor: pointer;
    width: 100%;
}

.header-bar span:first-child {
    top: 0;
}

.header-bar span:nth-child(2) {
    top: 52%;
    -webkit-transform: translateY(-65%);
    transform: translateY(-65%);
}

.header-bar span:last-child {
    bottom: 0;
}

.header-bar.active span:first-child {
    -webkit-transform: rotate(45deg) translate(3px, 9px);
    transform: rotate(45deg) translate(3px, 9px);
}

.header-bar.active span:nth-child(2) {
    opacity: 0;
}

.header-bar.active span:last-child {
    -webkit-transform: rotate(-45deg) translate(3px, -9px);
    transform: rotate(-45deg) translate(3px, -9px);
}

@media only screen and (max-width: 991px) {

    .top-header{
        transform-origin: top;
        transition: all .3s ease;
        transform: scale(0);
        display: none
    }
    .top-header.active{
        transform: scale(1);
        display: block;
    }
    .list-menu {
        position: absolute;
        width: 100%;
        flex-direction: column;
        left: 0;
        top: 100%;
        transform-origin: top;
        transition: all .3s ease;
        max-height: 400px;
        background: #f16126;
        backdrop-filter: blur(20px);
        transform: scaleY(0);
        overflow: auto;
    }

    .list-menu.active {
        transform: scaleY(1);
    }

    .menu-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        /* overflow: hidden; */

        flex-direction: column;
    }

    .menu-item a {
        font-size: 15px;
        padding: 10px 25px;
        font-weight: 700;
        text-transform: capitalize;
        border-top: 1px solid hsla(0, 0%, 100%, .1);
        color: #fff;
        display: block;
        width: 100%;
        text-transform: capitalize;
        position: relative;
        
    }
    .menu-item-has-children>a:before {
        right: 29px;
        background-color: #fff;
    }
    .menu-item-has-children>a::after{
        right: 25px;
        background-color: #fff;
    }
    .menu-list-item-of-children{
        width: 100%;
        position: unset !important;
        transform: translateY(0) !important;
        opacity: 1;
        visibility: visible;
        z-index: 10;
        background: #f16126;
        display: none;
        box-shadow: unset;
    }
    .menu-item-of-children{
        padding:0;
        border: none;
    }
    .menu-list-item-of-children a{
        padding: 10px 25px;
    }
    .menu-item-has-children.active > a::before{
        visibility: hidden;
    }
    .menu-item-has-children.active > .menu-list-item-of-children {
        display: block;
    }
}


/* Animation */

@keyframes rotate-rev {
    100% {
        -webkit-transform: rotate(-1turn) translate(-50%, -50%);
        transform: rotate(-1turn) translate(-50%, -50%);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}